### Welcome to python with data science

In [2]:
print("Hello world")
print("Hello\nWorld")

Hello world
Hello
World

## Data Types

In [ ]:
a=10
b=2.8
s="hellop python lover"
print(type(a))
print(type(b))
print(type(s))

# Type Casting
print(float(a))
print(type(a))
print(int(b))

<class 'int'>
<class 'float'>
<class 'str'>
10.0
2

## Expression And Variable

In [ ]:
my_variable = 1

# expression
x= 43+60+16+41

## String Operations

In [24]:
# string Slicing

Letters="ABCDEFGHIJK"
print(Letters[0:4])

# Stride step size
Good="GsoAo+d"
step=Good[::2]
print(step)
len(Letters)

ABCD
Good

11

In [20]:
# converting uppercase & lowerCase
a="uppercase".upper()
print(a)
a.lower()

UPPERCASE

'uppercase'

In [ ]:
# concating string
name ="michkel jackson" 
statement = name + "is the best"
print(statement)

michkel jactionis the best

In [ ]:
# replicating string
name = 3*"michkel jackson"
print(name)

# you cannot change the string but we create new string
#name[0] = "j" string is immutable
name = name + "is the best"
print(name)

michkel jacksonmichkel jacksonmichkel jackson
michkel jacksonmichkel jacksonmichkel jacksonis the best

### string escape sequence
\ are meant to proceed escape sequences
escape sequence are strings that are difficult to input

In [ ]:
print("Mickel Jackson \n is the best")
print("Mickel Jackson \t is the best") # it give tab
print("Mickel Jackson \\ is the best") # we can use r also 
print(r"Mickel Jackson \ is the best")

Mickel Jackson
 is the best
Mickel Jackson 	 is the best
Mickel Jackson \ is the best
Mickel Jackson \ is the best

In [39]:
# methods of string
A ="michkel jackson"
B = A.replace("michkel", "Janet")
print(B)
A.find("j")

Janet jackson

8

## Lists And Tuples
Tuple are an ordered sequence
Tuples are immutable

In [ ]:
# creating tuple
rating = (10,20,30,40,60,70,50,80)
tuple1 = ('disco',10,1.5)
print(type(tuple1))

# accessing the tuple
rating[0]
rating[-1]

<class 'tuple'>

80

In [45]:
tuple1 = ('disco',10,1.5)
tuple2= tuple1 + ("hard rock", 10)
print(tuple2)

('disco', 10, 1.5, 'hard rock', 10)

In [48]:
# slicing tuple
print(rating[0:5])
len(rating)

(10, 20, 30, 40, 50)

8

In [49]:
# tuple are immutable
rating[2] = 45
print(rating)

TypeError: 'tuple' object does not support item assignment

In [54]:
# if we want to manipulate a tuple we create new tuple by applying sorted method
ratingSorted = sorted(rating)
print(ratingSorted)

[10, 20, 30, 40, 50, 60, 70, 80]

In [55]:
# Nesting of tuple
NT = (1,2,("pop", "rock"),(3,4),("disco",(1,2)))
NT[4][1][0]

1

### Lists
Lists are also Ordered Sequences.
A list is represented with square brackets.
List are mutable

In [59]:
list = ["Michael Jackson", 10.1,1982,[1,2],('A', 1)]
print(list)
list[2]
list[-1]
len(list)

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

5

In [61]:
# Slicing list
list[0:5:]
list[2:5]

[1982, [1, 2], ('A', 1)]

In [ ]:
list = ["Michael Jackson", 10.1,1982,[1,2],('A', 1)]
list.extend(['pop', 10])
print(list)
list.append([1,2,5])# append operation give directly add the list as element
print(list)

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1), 'pop', 10]
['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1), 'pop', 10, [1, 2, 5]]

In [ ]:
list[0] = "hard rock"
print(list)

['hard rock', 10.1, 1982, [1, 2], ('A', 1), 'pop', 10, [1, 2, 5]]

In [99]:
A = ["hard rock", 10,1.2]
print(A)
del A[0]
print(A)

['hard rock', 10, 1.2]
[10, 1.2]

In [101]:
# split
split = "Hard rock"
split.split()
"A,B,C,D".split(",")

['A', 'B', 'C', 'D']

In [107]:
# Lists: Aliasing

A = ["hard rock", 3]
B = A

B[0] = "Banana"
print(B)
print(A)

['Banana', 3]
['Banana', 3]

In [ ]:
# list Clone
Clone = ["hard rock", 10, 1.2]
b = Clone[:]
Clone[0] = "Soft rock"
print(Clone)
b[0] = "Banana"
print(b)

help(Clone)

### Sets
set don`t allow duplicate value

In [2]:
# creating sets
Set1={'pop','rock','hard rock','rock','r&b'}
print(Set1)

album_list = ["michael Jackson","Thriller","Thriller",1982]
album_set = set(album_list)
print(album_set)

{'rock', 'hard rock', 'r&b', 'pop'}
{'Thriller', 'michael Jackson', 1982}

#### Set Operation

In [ ]:
A = {"Thriller","Back in Black","AC/DC"}
A.add("NSYNC")
print(A)

{'AC/DC', 'Thriller', 'Back in Black', 'NSYNC'}

In [7]:
# removing element
A = {"Thriller","Back in Black","AC/DC","NSYNC"}
A.remove("NSYNC")
print(A)
# checking element
"AC/DC" in A

{'AC/DC', 'Thriller', 'Back in Black'}

True

#### Mathematical Set Operation

In [9]:
Set1={'pop','rock','hard rock','rock','r&b'}
Set2 = {"Thriller","Back in Black","AC/DC","hard rock"}
Set3 = Set1 & Set2
print(Set3)

{'hard rock'}

In [11]:
Set1={'pop','rock','hard rock','rock','r&b'}
Set2 = {"Thriller","Back in Black","AC/DC","hard rock"}
Set3 = Set1.union(Set2)
print(Set3)
Set1.issubset(Set3)

{'r&b', 'pop', 'Back in Black', 'rock', 'Thriller', 'hard rock', 'AC/DC'}

True

## Dictionary
it have key value pair.Dictionaries are denoted with curly Bracket {}. The key have to be immutable and unique

In [19]:
# creating dictionaries
dict = {"Thriller":1982, "Back in Back": 1980,"The Bodyguard":1992}
dict["Thriller"]
"starboy" in dict
dict.keys()
dict.values()

dict_values([1982, 1980, 1992])